h4 {
    color: darkgray
}

li {
    padding-right: 10px;
}

pre {
    white-space: pre-line;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div {
    float: left;
}

body {
    font-family: 'Trebuchet MS';
}
